/* line 9, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
* {
  font-family: 'Roboto', sans-serif;
}

/* line 12, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
header {
  position: relative;
}

/* line 15, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
nav {
  height: 50px;
  background-color: #212121;
}

/* line 19, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

/* line 26, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.menu a {
  text-decoration: none;
}

/* line 29, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.menu_link {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
}

/* line 35, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.menu_item {
  border-right: 2px dotted black;
  padding-right: 44px;
}

/* line 39, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.subheader {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 87px;
}

/* line 45, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.subheader_logo img {
  max-width: 100%;
  padding-top: 19px;
}

/* line 49, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.subheader_official {
  font-style: normal;
  font-weight: 100;
  font-size: 13px;
  color: #FFFFFF;
  margin-top: 5px;
}

/* line 56, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.subheader_call {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #FFFFFF;
  text-align: right;
  margin-right: 39px;
  margin-top: 20px;
}

/* line 65, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.subheader_phone {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  text-align: right;
  line-height: 12px;
}

/* line 75, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.subheader .subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

/* line 5, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.subheader .subheader_btn:hover {
  background: none;
  background-color: #1EACC7;
}

/* line 92, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.promo {
  min-height: 800px;
  background: url("../img/uber_bg.png") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

/* line 97, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.promo_header {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
}

/* line 106, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.promo_subheader {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
  padding-top: 22px;
}

/* line 116, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.promo_description {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 16px;
  line-height: 24px;
}

/* line 125, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.promo_btn {
  display: block;
  margin: 118px auto 0;
  border: none;
  width: 259px;
  height: 63px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

/* line 5, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.promo_btn:hover {
  background: none;
  background-color: #1EACC7;
}

/* line 143, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.btn-info {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #000000;
  width: 115px;
  line-height: 27px;
  margin: 20px auto 0;
}

/* line 155, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.info_title {
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  margin-top: 40px;
}

/* line 164, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.benefits_item {
  display: flex;
  margin-top: 20px;
}

/* line 168, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.benefits_img {
  width: 116px;
  height: 116px;
  margin-left: 60px;
}

/* line 173, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.benefits_item-disc {
  margin-left: 20px;
  font-style: normal;
  font-weight: normal;
  padding-right: 70px;
}

/* line 179, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.benefits_item-title {
  font-size: 17px;
  line-height: 21px;
  color: #1EACC7;
}

/* line 184, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.benefits_item-text {
  font-size: 15px;
  line-height: 21px;
  color: #202020;
}

/* line 189, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  text-align: center;
  color: #222222;
}

/* line 196, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.mobile {
  margin-top: 64px;
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/mobile/mobile_bg.jpg") center center/cover no-repeat;
}

/* line 201, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.mobile .row {
  padding-top: 35px;
}

/* line 203, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

/* line 210, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.mobile_item_1 {
  background: url("../img/mobile/img_bg1.png") center center/cover no-repeat;
}

/* line 212, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.mobile_item_2 {
  background: url("../img/mobile/img_bg2.png") center center/cover no-repeat;
}

/* line 214, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.mobile_item_3 {
  background: url("../img/mobile/img_bg3.png") center center/cover no-repeat;
}

/* line 216, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.mobile_item_4 {
  background: url("../img/mobile/img_bg4.png") center center/cover no-repeat;
}

/* line 218, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.mobile_item_5 {
  background: url("../img/mobile/img_bg5.png") center center/cover no-repeat;
}

/* line 220, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.mobile_item_6 {
  background: url("../img/mobile/img_bg6.png") center center/cover no-repeat;
}

/* line 222, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.mobile_item_subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* line 230, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.mobile_item_plus {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
  transition: all 0.5s;
}

/* line 239, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.mobile_item_plus:hover {
  bottom: 28px;
}

/* line 242, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.choice {
  position: relative;
  min-height: 898px;
  padding-top: 54px;
  background: url("../img/choice/choice_bg.png") center center/cover no-repeat;
}

/* line 247, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.choice .btn-info {
  background: white;
  color: black;
  margin-top: 0;
}

/* line 251, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.choice .info_title {
  color: white;
  margin-top: 35px;
}

/* line 254, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.choice .subtitle {
  color: white;
}

/* line 256, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.choice_img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin: 20px auto 0;
}

/* line 261, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.choice_text {
  position: absolute;
  bottom: 143px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  padding-top: 20px;
}

/* line 269, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.require {
  padding: 68px 0 84px 0;
}

/* line 271, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.require_block {
  margin: 33px 0;
}

/* line 273, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.require_block_nbm {
  margin-bottom: 0px;
}

/* line 275, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.require_title {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 24px;
  color: #1EACC7;
}

/* line 281, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.require_list {
  list-style-type: none;
  padding-left: 30px;
  margin-top: 22px;
}

/* line 285, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.require_list li {
  display: inline-block;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 10px;
}

/* line 291, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.require_list li:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  transform: translate(-8px, -2px);
  width: 21px;
  height: 20px;
  background: url("../icons/check_blue.svg") center center/cover no-repeat;
}

/* line 299, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.require_descr {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #1EACC7;
}

/* line 305, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.require .warning .require_title {
  color: #FF5656;
}

/* line 309, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.require .warning .require_list li:before {
  background: url("../icons/check_red.svg") center center/cover no-repeat;
}

/* line 311, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.map {
  height: 720px;
  background: url("../img/map/map.png") center center/cover no-repeat;
  padding: 50px 0;
  position: relative;
}

/* line 316, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.map .btn-info {
  background: white;
  color: black;
}

/* line 319, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.map .info_title {
  color: white;
}

/* line 321, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.map .subtitle {
  color: white;
}

/* line 323, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.map .cites {
  text-decoration: none;
  font-weight: normal;
  font-size: 15px;
  color: #1FBAD6;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
}

/* line 335, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.site-footer {
  position: relative;
}

/* line 337, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.site-footer .line {
  width: 300px;
  height: 3px;
  background: #1FBAD6;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin: -25px 0 0 15px;
}

/* line 346, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.site-footer nav {
  background: white;
  text-transform: uppercase;
}

/* line 349, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.site-footer_main-nav {
  margin-top: 38px;
}

/* line 351, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.site-footer ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

/* line 355, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.site-footer ul li {
  margin: 0 22px 15px;
}

/* line 357, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.site-footer ul a {
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
  color: #070716;
}

/* line 363, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.site-footer_additional-nav ul {
  margin-top: -20px;
}

/* line 365, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.site-footer_additional-nav ul li {
  margin: 0;
}

/* line 367, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.site-footer_additional-nav ul li a {
  font-weight: 300;
  font-size: 11px;
  color: #999999;
  margin: 0 11px;
}

/* line 372, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.site-footer_lan {
  display: flex;
  justify-content: center;
  margin-top: -15px;
}

/* line 376, ../../../../../../../../../../../../../Users/valeriamakovij/Desktop/Study/src/sass/style.sass */
.site-footer_lan .language {
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
  color: #1FBAD6;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */